<div class="panel panel-default">
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">
        Panel footer
    </div>
</div>

<script type="text/javascript" src="/Jquery/jquery.js"></script>
<script type="text/javascript" src="/bootstrap-4/js/bootstrap.js"></script>
<script type="text/javascript">
</script>